<div class="row" id="ideas-container">
    {{#each ideas}}
    <div class="col-lg-11 col-md-11 col-sm-11 idea">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="idea-title">{{this.title__c}}</div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="idea-description">{{this.description__c}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="javascript:void(0)" id="{{this.sfid}}">Comment</a>
            </div>
        </div>
    </div>
    {{/each}}    
</div>

<script>
    $(document).ready(() => {
        $('#ideas-container').on('click', (event) => {
            const id = event.target.id
            console.log(id)
            fetch('/comment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'id': id,
                    'comment': `This is a comment (${Date.now()})`
                })
            })
        })
    })
</script>