.idea {
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  background-color: #efefef;
  padding: 0.25em;
  margin: 0.5em;
  border-radius: 0.25em;
  border: 1px solid black;
}

.idea .idea-title {
  font-size: 1em;
  font-weight: bold;
}

.idea .idea-description {
  font-size: 1em;
}

.idea .idea-id {
  font-size: 0.8em;
  font-style: italic; 
}

.color-black {
  color: #000;
}

body {
  padding-top: 4.0rem;
}
