.branding-bg {
    background-color: rgb(254, 196, 71);
}
.navbar-dark .navbar-brand {
    color: #000;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.ideas-icon-color {
    color: #000;
  }